# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.db
*.sqlite
*.sqlite3

# Audio uploads / temp files
temp_audio/
*.webm
*.wav
*.mp3
*.m4a

# Node / React
node_modules/
dist/
dist-ssr/
*.local

# Logs & IDE
*.log
.vscode/
.idea/
